*{
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

#digiClock{
    text-align: center;
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}



.displaydate{
    margin: 90px 0;
    border: 5px solid #4d97bd;
    padding: 20px;
    text-align: center;
    width: 400px;
    font-size: 25px;
}


table {
    background: #4d97bd;
    border: 5px solid #ddd;
    border-collapse: collapse;
    font-size: 20px;
}


th, td {
    border-bottom: 1px solid #ddd;
}

th , td{
    padding: 20px;
}

tr:nth-child(5) , tr:nth-child(7){
    background: #78a4bb;
}